li,
div {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    letter-spacing: 5px;
}

body {
    background-color: #f9f4ed;
}

.page {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 75px;
}