header {
    position: relative;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-menu {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    transition: top .3s;
}

.drop-menu_show {
    top: -35px;
}

.bar-menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(147, 96, 96);
    background-color: rgb(204, 102, 102);
    align-items: center;
}

.bar-menu__home-link {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 20px 25px;
    flex-grow: 1;
}

.bar-menu_close-btn {
    border-left: 2px solid rgb(147, 96, 96);
    padding: 20px 25px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.link-tabs-container {
    background-color: rgb(147, 96, 96);
}

.link-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    row-gap: 2px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.link-tabs li {
    display: flex;
    width: 399px;
    height: 399px;
    background-color: rgb(204, 102, 102);
}

.link-tabs li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 399px;
    height: 399px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.link-tabs li a span {
    margin-top: 25px;
}

.link-tabs li a i {
    font-size: 40px;
}

.bar-menu_close-btn:hover,
nav .home-link:hover,
.bar-menu__home-link:hover,
.link-tabs li:hover {
    background-color: rgb(213, 131, 131);
    cursor: pointer;
}

/* ----------------------------------------------------- */
.home-link {
    font-size: 25px;
    color: rgb(70, 70, 70);
    font-weight: 900;
    padding-left: 20px;
}

.menu-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 35px;
    padding: 15px 20px;
}

.menu-btn:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}